@font-face {
    font-family: "Agency";
    src: url("../../fonts/AGENCYR.TTF") format("ttf"),
}

@font-face {
    font-family: "ERKN";
    src: url("../../fonts/erkntitlefont_v2.ttf") format("ttf"),
}

@font-face {
    font-family: "Franklin Gothic";
    src: url("../../fonts/FranklinGothicBookRegular.ttf") format("ttf"),
}

@font-face {
    font-family: "Myriad Pro";
    src: url("../../fonts/MYRIADPRO-COND.OTF") format("ttf"),
}